<span class="content_footer">
	<h2>Friends developer</h2>
	<p><a>Epitech student</a></p>
	<div id="myCarousel" class="carousel slide">
	  <ol class="carousel-indicators">
	    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	    <li data-target="#myCarousel" data-slide-to="1"></li>
	    <li data-target="#myCarousel" data-slide-to="2"></li>
	    <li data-target="#myCarousel" data-slide-to="3"></li>
	    <li data-target="#myCarousel" data-slide-to="4"></li>
	  </ol>
	  <!-- Carousel items -->
	  <div class="carousel-inner">
	    <div class="active item"><%= image_tag("farsi_m.jpg", :alt => "friends_photo", :class => "amis_photo") =%>
	    	<div class="carousel-caption">
				<h4><a href="http://mehdi-farsi.herokuapp.com/" target="_blank">Mehdi Farsi</a></h4>
              	<p>RoR & Android</p>
            </div>
	    </div>
	    <div class="item"><%= image_tag("elhali_k.jpg", :alt => "friends_photo", :class => "amis_photo") =%>
			<div class="carousel-caption">
              <h4><a href="#" target="_blank">Karim Elhalimi</a></h4>
              <p>java</p>
            </div>
	    </div>
	    <div class="item"><%= image_tag("zemour_a.jpg", :alt => "friends_photo", :class => "amis_photo") =%>
	    	<div class="carousel-caption">
              <h4><a href="#" target="_blank">Anouar Zemouri</a></h4>
              <p>IOS</p>
            </div>
	    </div>
			    <div class="item"><%= image_tag("baili_s.jpg", :alt => "friends_photo", :class => "amis_photo") =%>
			    	<div class="carousel-caption">
			    		<h4><a href="http://about.me/samy_baili" target="_blank">Samy Baili</a></h4>
			    		<p>Android</p>
			    	</div>
			    </div> 
	    <div class="item"><%= image_tag("saouch_s.jpg",:alt => "friends_photo", :class => "amis_photo")=%> 
	    	<div class="carousel-caption">
              <h4><a href="#" target="_blank">samie-allah saouchi</a></h4>
              <p>java web app</p>
            </div>
	    </div>
	  </div>
	  <!-- Carousel nav -->
	  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
</span>