<div class="item_timeline_about_me">
	<h3>Social</h3>
	<div class="social_icon">
		<a href="http://www.linkedin.com/profile/view?id=78336140&trk=tab_pro" target="_blank"><%= image_tag("linked_in.png", :alt => "logo_linkedIn", :id => "logo_linkedin")  =%></a>
		<a href="https://github.com/jouhri" target="_blank"><%= image_tag("github.png", :alt => "logo_github", :id => "logo_github") =%></a>
		<a href="https://twitter.com/wall831" target="_blank"><%= image_tag("twitter.png", :alt => "logo_twitter", :id => "logo_twitter") =%></a>
		<%= link_to image_tag('cv.png', :alt => "logo_cv", :id => "logo_cv"), :action => :download%>
		<a href="mailto:jouhri.oualid@gmail.com"><%= image_tag("mail.png", :alt => "logo_mail", :id => "logo_mail") =%></a>
	</div>
</div>