<div class="page">
	<header >
	 	<article> 
				<h1>Oualid JOUHRI</h1>
				<h2>Ruby & Ruby on Rails developer</h2>
				<p>"Hello! I am french student in master degree at EPITECH University in Paris.
				I am passionate about internet startups, lean start-up (<a href="http://theleanstartup.com/">eric ries</a>), new technologies and agile methodologies.
				I'm looking for an internship. If you are interested in my profile you can contact me."</p>
	 	</article> 
	</header>
	<article id="Education">
		<div class="Education_button">
			<h2 >Education</h2>
		</div>
		<div class="Education_content">

			<div class="ribbon">
				<h3 >
					<strong class="ribbon-content">EPITECH 4th years</strong>
				</h3>
				<p>China beijing jiaotong university</p>			
			</div>


			<div class="ribbon">
				<h3 >
					<strong class="ribbon-content">Ruby on Rails corporate Training</strong>
				</h3>
				<p>with : <a href="http://formations.humancoders.com/formations/ruby-on-rails" target="_blank">humancodres</a></p>
			</div>


			<div class="ribbon">
				<h3 >
					<strong class="ribbon-content">Agile methodologies corporate Training</strong>
				</h3>
				<p>with : <a href="http://agilidee.com" target="_blank">Agilidee</a></p>

			</div>


			<div class="ribbon">
				<h3 >
					<strong class="ribbon-content">Bachelor EPITECH 3 years</strong>
				</h3>
					<p>France Marseille Software engineering</p>
			</div>


			<div class="ribbon">
				<h3 >
	   				<strong class="ribbon-content">Costebelle high school</strong>
				</h3>
					<p>France Network Installation and Maintenance</p>
			</div>
		</div>
	</article> 
	<article id="experience">
		<div class="experience_button">
			<h2 >Experience</h2>
		</div>

		<!-- <div class="experience_top"> -->
			<div class="wrapper_experience">
				<div class="item_experience">
					<a href="http://pushcontact.herokuapp.com/" target="_blank"><h3>pushContact</h3></a>
					<p>lead developer Ruby on Rails</p>
				</div>
			</div>
			<div class="wrapper_experience">
				<div class="item_experience">
					<a href="http://signup.wikitrip.com/" target="_blank"><h3>Wikitrip</h3></a>
					<p>lead developer Ruby on Rails</p>
				</div>
			</div>
<!-- 		</div> -->
		
<!-- 		<div class="experience_bottom"> -->
			<div class="wrapper_experience">
				<div class="item_experience">
					<a href="http://step2step.herokuapp.com/" target="_blank"><h3>Step 2 Step</h3></a>
					<p>lead developer Ruby on Rails</p>
				</div>
			</div>

			<div class="wrapper_experience">
				<div class="item_experience">
					<h3>PopWings</h3>
					<p>lead developer Ruby on Rails</p>
				</div>
			</div>
<!-- 		</div> -->
<!-- 		<div class="experience_bottom"> -->
			<div class="wrapper_experience">
				<div class="item_experience">
					<h3>B+equipement</h3>
					<p>developer PHP, HTML, CSS </p>
				</div>
			</div>
<!-- 		</div> -->


	</article> 
	<section id="Education">
		<article id="contact_me">

			<div class="contact_me_button">
				<h2 >About Me</h2>
			</div>

			

			<div class="contact_me_content">
				<div class="item_timeline_about_me">
					<h3>Social</h3>
					<div class="social_icon">
						<a href="http://www.linkedin.com/profile/view?id=78336140&trk=tab_pro" target="_blank"><%= image_tag("linked_in.png", :alt => "logo_linkedIn", :id => "logo_linkedin")  =%></a>
						<a href="https://github.com/jouhri" target="_blank"><%= image_tag("github.png", :alt => "logo_github", :id => "logo_github") =%></a>
						<a href="https://twitter.com/wall831" target="_blank"><%= image_tag("twitter.png", :alt => "logo_twitter", :id => "logo_twitter") =%></a>
						<a href="JOUHRI_OUALID.pdf"><%= link_to image_tag('cv.png', :alt => "logo_cv", :id => "logo_cv"), :action => :download%></a>
						<a href="mailto:jouhri.oualid@gmail.com"><%= image_tag("mail.png", :alt => "logo_mail", :id => "logo_mail") =%></a>
					</div>

				</div>
	 			<div class="item_timeline_about_me">
					<h3>Skills</h3>
					<div class="skill">
						<span class="item_skill">
							<p>C</p>
							<canvas id="myChart_c" width="100" height="100"></canvas> 
						</span>

						<span class="item_skill">
							<p>C++</p>
							<canvas id="myChart_cpp" width="100" height="100"></canvas>
						</span>

						<span class="item_skill">
							<p>HTML5</p>
							<canvas id="myChart_html5" width="100" height="100"></canvas>
						</span>	

						<span class="item_skill">
							<p>CSS3</p>
							<canvas id="myChart_css3" width="100" height="100"></canvas>
						</span>

						<span class="item_skill">
							<p>JavaScript</p>
							<canvas id="myChart_javascript" width="100" height="100"></canvas>
						</span>


						<span class="item_skill">
							<p>Ruby</p>
							<canvas id="myChart_ruby" width="100" height="100"></canvas>
						</span>

						<span class="item_skill">
							<p>Scrum</p>
							<canvas id="myChart_scrum" width="100" height="100"></canvas>
						</span>
										
						<span class="item_skill">
							<p>Ruby on Rails</p>
							<canvas id="myChart_ror" width="100" height="100"></canvas>
						</span>
					</div>
				</div>
			</div>
	 


		</article> 
	<section>  
	<footer class="wrapper">
		<div class="mes_amis">
			<span class="content_footer">
				<h2>My mentor</h2>
				<span class="content_mentor">
					<p><a href="http://about.me/julienpetit">Julien petit</a></p>
					<%= image_tag("Ju_Zac_Delhi.png", :alt => "photo_mentor", :id => "photo_mentor") =%> 
					<p>CEO WIkitrip</p>
				</span>
			</span>
			<span class="content_footer">
				<h2>Friends developer</h2>
				<p><a>Epitech student</a></p>
				<div id="myCarousel" class="carousel slide">
				  <ol class="carousel-indicators">
				    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				    <li data-target="#myCarousel" data-slide-to="1"></li>
				    <li data-target="#myCarousel" data-slide-to="2"></li>
				    <li data-target="#myCarousel" data-slide-to="3"></li>
				    <li data-target="#myCarousel" data-slide-to="4"></li>
				  </ol>
				  <!-- Carousel items -->
				  <div class="carousel-inner">
				    <div class="active item"><%= image_tag("farsi_m.jpg", :alt => "friends_photo", :class => "amis_photo") =%>
				    	<div class="carousel-caption">
							<h4><a href="http://mehdi-farsi.herokuapp.com/" target="_blank">Mehdi Farsi</a></h4>
	                      	<p>RoR & Android</p>
	                    </div>
				    </div>
				    <div class="item"><%= image_tag("elhali_k.jpg", :alt => "friends_photo", :class => "amis_photo") =%>
						<div class="carousel-caption">
	                      <h4><a href="#" target="_blank">Karim Elhalimi</a></h4>
	                      <p>java</p>
	                    </div>
				    </div>
				    <div class="item"><%= image_tag("zemour_a.jpg", :alt => "friends_photo", :class => "amis_photo") =%>
				    	<div class="carousel-caption">
	                      <h4><a href="#" target="_blank">Anouar Zemouri</a></h4>
	                      <p>IOS</p>
	                    </div>
				    </div>
		 			    <div class="item"><%= image_tag("baili_s.jpg", :alt => "friends_photo", :class => "amis_photo") =%>
		 			    	<div class="carousel-caption">
		 			    		<h4><a href="http://about.me/samy_baili" target="_blank">Samy Baili</a></h4>
		 			    		<p>Android</p>
		 			    	</div>
		 			    </div> 
				    <div class="item"><%= image_tag("saouch_s.jpg",:alt => "friends_photo", :class => "amis_photo")=%> 
				    	<div class="carousel-caption">
	                      <h4><a href="#" target="_blank">samie-allah saouchi</a></h4>
	                      <p>java web app</p>
	                    </div>
				    </div>
				  </div>
				  <!-- Carousel nav -->
				  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
				  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
				</div>
			</span>
		</div>
	</footer>
</div>